<launch>
  <!-- Include the turtlebot3_gazebo turtlebot3_world.launch file -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz" />

  <!-- Add additional configurations and nodes here -->
  <!-- For example, add your own custom node -->
  <node name="main_node" pkg="slam_pkg" type="main_node">
    <!-- Add node parameters if needed -->
  </node>
</launch>
