<launch>
  <!-- Set GAZEBO_MODEL_PATH environment variable -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:/home/coco/SLAM_ws/src/slam_pkg/map"/>

  <!-- Launch Gazebo with the custom world file -->
  <arg name="world_file" default="/home/coco/SLAM_ws/src/slam_pkg/map/Unstructured World/UnstructuredWorld.sdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <!-- Additional Gazebo parameters can be added here -->
  </include>
</launch>
